*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Slab', serif;
}

/*diseño sección nav*/

#navegador{
	background-image: url(../img/bg-header.jpg);
	height: 1000px;	
}

#navegador a{
	margin-top: 20px;
	text-decoration: none;
	margin-left: 50px;
	color: whitesmoke;
}

#navegador img:first-child{
	width: 100px;
	height: 80px;
}

#logo-portada{
	padding-top: 60px;
	width: 20%;
}

/*diseño sección our values*/

#our-values{
	text-align: center;
}

#our-values hr{
	width: 10%;
	margin-left: 520px;
}

#our-values h1,
#our-values h2{
	font-weight: bold;
}

/*diseño sección fotografias-home*/

#fotografias-home{
	background-image: url(../img/menu_4.jpg);
	background-repeat: no-repeat;
	text-align: center;
	background-size: cover;
	height: 800px;
}

#fotografias-home p{
	margin-left: 350px;
	margin-top: 200px;
	color: white;
	font-size: 30px;
	width: 50%;
}

#fotografias-home hr{
	width: 10%;
	margin-left: 610px;
} 

#fotografias-home button{
	color: white;
	background-color: transparent;
	font-weight: bold;
	width: 200px;
	height: 50px;
}

/*diseño sección people*/

.carousel-caption{
	width: 80px;
	text-align: center;
	margin-left: -100px;
}

.carousel-caption hr{
	margin-left: 10px;
}

.carousel-caption i{
	padding: 5px;
}

#people{
	text-align: center;
}

#people hr{
	width: 10%;
	margin-left: 520px;
}